# file to be used by `pip install -r doc_requirements.txt`
sphinx
sphinx_rtd_theme
recommonmark
sphinxcontrib-bibtex
sphinxcontrib-details-directive
sphinx-boogergreen-theme
nbsphinx
Jinja2
numpy
pygit2
semver
